<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Face Recognition Model Training</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='small-business.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Face Recognition</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Playground<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4">
      <div class="card-body">
        <p class="text-white mb-4">
          Playground allows you to see if our computer vision model recognizes your face!
          <br/>
          For each image you'll capture, you will get a result if you faced is identified in our systems
        </p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Preview</h2>
            <video id="player" autoplay></video>
          </div>
          <div class="card-footer">
            <span>Click capture, then see the result on the "Snapshot" box</span><a class="btn btn-primary btn-sm" id="capture">Capture</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Snapshot</h2>
            <canvas id="snapshot"></canvas>
          </div>
          <div class="card-footer">
            <span>The identified name from the snapshot is: </span><span id="identified"></span>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='playground.js') }}"></script>

</body>

</html>